/* src/styles/index.css */
@import './tokens.css';
@import './animations.css';

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  padding: 0;
  margin: 0;
}

body {
    background-color: var(--bg-0);
    color: var(--text);
}

.hero-title {
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--text);
}

.hero-subtitle {
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text);
}

.text {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    color: var(--text);
}

@media (min-width: 1024px) {
  body {
    background-color: var(--bg-0);
    background-image: linear-gradient(
      to right,
      var(--gutter) 0,
      var(--gutter) calc((100% - var(--maxw)) / 2),
      transparent calc((100% - var(--maxw)) / 2),
      transparent calc(100% - ((100% - var(--maxw)) / 2)),
      var(--gutter) calc(100% - ((100% - var(--maxw)) / 2))
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}