/* CVPage.module.css */

.cvpage {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  font-family: 'Epilogue', sans-serif;
  color: #2d2d2d;
  background-color: #fefefe;
  border-radius: 8px;
}

.cvheader{
    display:flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.cvheaderrow {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.cvheaderLeft{
    display: flex;
    align-items: center;
}

.cvheadercontent{
    text-align: left;
}

.cvname {
  font-size: 2rem;
  font-weight: 500;
}

.cvtitle {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 0.5rem;
  color: #555;
}

.cvcontact {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: #444;
}

.cvcontact a {
  color: #02735E;
  text-decoration: none;
  font-weight: 500;
}

.cvcontact a:hover {
  text-decoration: underline;
}

.cvcontent {
  display: flex;
  gap: 2rem;
}

.cvsummary{
    text-align: justify;
    margin: 0 2rem;
}

/* Columna principal */
.cvleft {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cvicons{
    margin:0 1rem;
}

.cvsection {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.cvsection h2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
  display: inline-block;
  padding-bottom: 0.25rem;
  
}

.cvsection ul {
  padding: 0;
}

.cvsection li {
  margin-bottom: 0.5rem;
}

.techRow {
  margin-bottom: 1rem;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 0.75rem;
  margin-top: 0.5rem;
}

.card {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0.5rem 0.75rem;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
  box-shadow:  rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(212, 212, 212, 0.7) 0px 0px 3px 0px;
  transition: transform 0.1s ease-in-out;
}

.card:hover {
 cursor: pointer;
}

/* Columna lateral */
.cvright {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cvright .cvsection {
  text-align: left;
}

/* Ajustes responsive */
@media (max-width: 992px) {
  .cvcontent {
    flex-direction: column;
  }
  .cvheader {
    text-align: center;
  }
  .cvleft, .cvright {
    flex: unset;
  }
}
